<nav class="d-flex flex-column justify-content-between">
  

  <ul class="nav flex-column justify-content-center d-flex align-items-center">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about" routerLinkActive="active">Acerca de</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contacto</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/countries/by-capital" routerLinkActive="active">Por capital</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/countries/by-country" routerLinkActive="active">Por país</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/countries/by-region" routerLinkActive="active">Por región</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/countries/country" routerLinkActive="active">País</a>
    </li>
  </ul>

  <div class="d-flex justify-content-center mx-2 dropup info align-self-end">
    <div class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="../../../../assets/foto.jpg" class="img-thumbnail rounded-circle mr-2" alt="Mi foto">
      <span class="mx-2">Pedro Martínez González</span>
    </div>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
  

</nav>


